/*
$main_font_color: #E5FCC2;
$background_color: #594F4F;
$side_block_color: #45ADA8;
$link_color: #9DE0AD;
$other_color: #547980;
*/

$background_color: #FFF;
$main_font_color: #636363;
$link_color: #D33;
$side_block_color: #9C9C9C;
