<!DOCTYPE html>

<html lang="pt-BR">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="author" content="Bruno de Brito Coimbra" />
		<meta name="description" content="Blog pessoal de Bruno de Brito Coimbra" />
		<meta name="keywords" content="programação, bbcoimbra, ruby, C, compiladores, linux, vim"/>
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
		<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
		<!--[if lt IE 8]>
		<link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
		<link rel="stylesheet" href="/stylesheets/pygments.css" type="text/css" />
		<title>{% if page.title %} {{page.title}} | {% endif %}bbcoimbra's Blog</title>
	</head>
	<body class="two-col">
		<div id="container">
			<header id="header">
				<hgroup>
					<h1>bbcoimbra's Blog</h1>
					<h3>wyrd bið ful aræd</h3>
				</hgroup>
			</header>
			<nav class='menu'>
				<ul>
					<li><a href='/'>Home</a></li>
					<li><a href='/posts.html'>Postagens</a></li>
					<li><a href='/about.html'>Sobre</a></li>
				</ul>
			</nav>
			<div id='middle'>
				<div id='content'>
					{{ content }}
				</div>
				<aside id='sidebar'>
					<div id='banners'>
						<div class='banner'>
							<a href="http://www.qconsp.com"><img src='/images/banner_qconsp.gif'></a>
						</div>
						<div class='banner'>
							<a href="http://www.devinsampa.com.br"><img src='/images/banner_dev_in_sampa.jpg'></a>
						</div>
					</div>
					<div id='ads'>
						<script type="text/javascript">
							bb_bid = "1622741";
							bb_lang = "pt-BR";
							bb_keywords = "computação,computadores,livros,musica";
							bb_name = "custom";
							bb_limit = "4";
							bb_format = "bbd";
							</script>
							<script type="text/javascript" src="http://static.boo-box.com/javascripts/embed.js"></script>
						</div>
					<div id='contacts'>
						<h1>Contatos</h1>
						<ul>
							<li><a href='http://facebook.com/bbcoimbra'>Facebook</a></li>
							<li><a href='http://github.com/bbcoimbra'>GitHub</a></li>
							<li><a href='http://linkedin.com/in/bbcoimbra'>LinkedIn</a></li>
							<li><a href='http://twitter.com/bbcoimbra'>Twitter</a></li>
						</ul>
					</div>
					<div id='blogroll'>
						<h1>Desenvolvedores</h1>
						<ul>
							<li><a href='http://qmx.me/'>qmx Weblog</a></li>
						</ul>
						<h1>Designers</h1>
						<ul>
							<li><a href='http://incensoouroemirra.tumblr.com/'>mjcoffeeholick</a></li>
						</ul>
						<h1>Outros</h1>
						<ul>
							<li><a href='http://musicontos.wordpress.com/'>MusiContos</a></li>
						</ul>
					</div>
				</aside>
				<div class='clear'></div>
			</div>
			<footer id="footer">
			</footer>
		</div>
		</body>
	</html>